<!DOCTYPE html>
{% extends 'nav.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/design4.css' %}">
<img src="{%static 'images/venky_2.jpeg'%}" align='right' height="420px" width="420px">

       <h1>NAME &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Venky</h1>
       <h1>Phone &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: 6304241542</h1>
       <h1>e-mail &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: venkateshjaripiti123@gmail.com</h1>
       <h1>ADDRESS&nbsp&nbsp : Madanapalli,chittoor(dist),A.P</h1>
       <h1>Qualification : B.Sc(computers)</h1>
       <h1>Pogramming Languages  : Core JAVA, Python</h1>
       <h1>DATA BASE : ORACLE DBA</h1>
       <h1>Fram Work : Django,DRF</h1>
       <h1>Testing  :unittesting,API testing(postman)</h1>
       <h1>UI Design : HTML,CSS</h1>
       <br><br><br><br>
  {% endblock %}

