<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/design01.css' %}">
    <title>A.P Tourism</title>
</head>
<body>
    <h1>WELCOME TO A.P TOURISM</h1>
    <img src="https://th-i.thgim.com/public/todays-paper/tp-national/tp-andhrapradesh/um6a8g/article68261530.ece/alternates/FREE_1200/Cases-pending-aGSACT5KJ8.3.jpg.jpg" alt="A.P Chief Minister" height="220px" width="220px">
    <img src="https://th-i.thgim.com/public/incoming/31o3lp/article68371326.ece/alternates/FREE_1200/vjkvg-jana%2034.JPG" alt="Tourism Image" align="right" height="220px" width="220px">
    <h2>A.P TOURISM</h2>
    <a href="/main"><button type="button">HOME</button></a>
</body>
</html>

